@media screen and (max-width: 1400px){
    .wrapper{
        max-width: 1000px;
    }
    .intro{
        padding-bottom: 520px;
    }

    .img-container {
    
    background-position: center 100%;
    
    }

}




@media screen and (max-width: 1100px){

    .wrapper{
        max-width: 800px;
    }
    .intro{
        padding-bottom: 400px;
    }

    .mini_title{

        font-size: 30px;
        margin-bottom: 8px;
    }

    .title{

        font-size: 75px;
        margin: 0%;
    }


    .hero_title{

        font-size: 40px;
        margin-bottom: 30px;
        
    }

    .hero_text{
        font-size: 20px;
        max-width: 680px;
        margin-bottom: 40px;
    }

    .start_button{

    font-size: 20px;
    width: 200px;           
    height: 60px;                            
    margin-bottom: 100px;
    
    }
    .preview_title{

    
    font-size: 40px;
    margin-bottom: 70px;
    
    }


    .preview_cards{

    margin-bottom: 90px;
    }

    .how_to_use_title{

    font-size: 40px;
    margin-bottom: 50px;

    }

    .steps{
    
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 300px;
    }
    .steps:last-child{
    margin-bottom: 130px;
    }

    .try_button{

    font-size: 20px;
    width: 170px;           
    height: 50px;                            
    margin-bottom: 100px;
    
    }

    .img-container {
    
    background-position: center 80%;
    
    }

    .contact_title{
    margin-top: 120px;
    margin-bottom: 34px;
    font-size: 40px;
    
    }

    .contact_desc{

        font-size: 20px;
        margin-bottom: 67px;

    }


}







@media screen and (max-width: 900px){


    .wrapper{
        max-width: 650px;
    }
    .head_itemHide{
        display: none;
    }
    .signInHide{
        display: none;
    }
    .menu-button{
        display:flex;
        margin-left: auto;
    }



    .intro{
        padding-top: 180px;
        padding-bottom: 1px;
    }

    .mini_title{

        font-size: 20px;
        margin-bottom: 8px;
    }

    .title{

        font-size: 65px;
    }


    .main{

    background-position: center 8%;
      
    }



    .hero_title{

        font-size: 35px;
        margin-bottom: 25px;
        
    }

    .hero_text{

        font-size: 17px;
        max-width: 600px;
        margin-bottom: 40px;
    }

    .start_button{

    font-size: 20px;
    width: 200px;           
    height: 60px;                            
    margin-bottom: 70px;
    
    }

    .preview_title{

    font-size: 35px;
    margin-bottom: 70px;
    
    }



    .preview_card_title{

    font-size: 25px;

    }



    .preview_card_desc1{

        max-width: 400px;
        font-size: 18px;

    }
    .preview_card_desc2{

        max-width: 400px;
        font-size: 18px;

    }
    .preview_card_desc3{

        max-width: 319px;
        font-size: 18px;

    }


    .preview_cards {
        grid-template-columns: 1fr;
        justify-items: center;     
        padding: 0;                 
        grid-row-gap: 24px;         
    }

    .preview_card {
        max-width: 380px;           
        width: 100%;
    }

    .how_to_use_title{

    font-size: 35px;
    margin-bottom: 50px;

    }

    .steps{
    
    font-size: 17px;
    margin-bottom: 50px;
    max-width: 300px;
    }
    .steps:last-child{
    margin-bottom: 130px;
    }

    .try_button{

    font-size: 20px;
    width: 170px;           
    height: 50px;                            
    margin-bottom: 100px;
    
    }

    .img-container {
    
    background-position: center 79%;
    
    }

    .contact_title{
    margin-top: 120px;
    margin-bottom: 34px;
    font-size: 35px;
    
    }

    .contact_desc{

        font-size: 17px;
        margin-bottom: 50px;

    }
    .social-link img {
    width: 18px;
    height: 18px;
    
    }
    .social-links {
    
    gap: 35px;
    margin-bottom: 78px;
    }





}








@media screen and (max-width: 700px){
    .head_itemHide{
        display: none;
    }
    .signInHide{
        display: none;
    }
    .menu-button{
        display:flex;
        margin-left: auto;
    }
    .wrapper{
        max-width: 530px;
    }



    .intro {
        min-height: 50vh;
        padding: 40px 0;
        display: flex;
        align-items: center;
    }


    .mini_title{

        font-size: 18px;
        
    }

    .title{

        font-size: 60px;
        padding-bottom: 1px;
    }
    .main{

        background-position: center 9%;
      
    }



    .hero_title{
        margin-top: 300px;
        font-size: 35px;
        margin-bottom: 25px;
        
    }

    .hero_text{

        font-size: 17px;
        max-width: 600px;
        margin-bottom: 40px;
    }

    .start_button{

        font-size: 20px;
        width: 200px;           
        height: 60px;                            
        margin-bottom: 70px;
    
    }

    .preview_title{

        font-size: 35px;
        margin-bottom: 70px;
    
    }



    .preview_card_title{

    font-size: 25px;

    }



    .preview_card_desc1{

        max-width: 400px;
        font-size: 18px;

    }
    .preview_card_desc2{

        max-width: 400px;
        font-size: 18px;

    }
    .preview_card_desc3{

        max-width: 319px;
        font-size: 18px;

    }


    .preview_cards {
        grid-template-columns: 1fr;
        justify-items: center;     
        padding: 0;                 
        grid-row-gap: 24px;         
    }

    .preview_card {
        max-width: 380px;           
        width: 100%;
    }

    .how_to_use_title{

    font-size: 35px;
    margin-bottom: 50px;

    }

    .steps{
    
    font-size: 16px;
    margin-bottom: 50px;
    max-width: 250px;
    }
    .steps:last-child{
    margin-bottom: 130px;
    }

    .try_button{

    font-size: 18px;
    width: 130px;           
    height: 40px;                            
    margin-bottom: 100px;
    
    }

    .img-container {
    
    background-position: center 79%;
    
    }

    .contact_title{
    margin-top: 120px;
    margin-bottom: 34px;
    font-size: 35px;
    
    }

    .contact_desc{

        font-size: 17px;
        margin-bottom: 50px;

    }
    .social-link img {
        width: 18px;
        height: 18px;
    
    }
    .social-links {
    
    gap: 35px;
    margin-bottom: 78px;
    }



}



@media screen and (max-width: 425px){



    .head_item{

        font-size: 20px;
    }
    .head_itemHide{
        display: none;
    }
    .signInHide{
        display: none;
    }
    .menu-button{
        display:flex;
        margin-left: auto;
    }


    .wrapper{
        max-width: 400px;
    }
    .intro{
        margin-top: 20px;
    }

    .mini_title{

        font-size: 15px;
        
    }

    .title{
        font-size: 1px;
    }
    .main{

    background-position: center 9%;
      
    }



    .hero_title{
        margin-top: 100px;
        font-size: 27px;
        margin-bottom: 25px;
        
    }

    .hero_text{

        font-size: 16px;
        max-width: 600px;
        margin-bottom: 40px;
    }

    .start_button{

    font-size: 20px;
    width: 200px;           
    height: 60px;                            
    margin-bottom: 70px;
    
    }

    .preview_title{

    font-size: 30px;
    margin-bottom: 70px;
    
    }



    .preview_card_title{

    font-size: 23px;

    }



    .preview_card_desc1{

        max-width: 400px;
        font-size: 16px;

    }
    .preview_card_desc2{

        max-width: 400px;
        font-size: 16px;

    }
    .preview_card_desc3{

        max-width: 319px;
        font-size: 16px;

    }


    .preview_cards {
        grid-template-columns: 1fr;
        justify-items: center;     
        padding: 0;                 
        grid-row-gap: 24px;         
    }

    .preview_card {
        max-width: 300px;           
        width: 100%;
    }

    .how_to_use_title{

    font-size: 30px;
    margin-bottom: 50px;

    }

    .steps{
    
    font-size: 14px;
    margin-bottom: 50px;
    max-width: 240px;
    }
    .steps:last-child{
    margin-bottom: 70px;
    }

    .try_button{

    font-size: 16px;
    width: 120px;           
    height: 35px;                            
    margin-bottom: 100px;
    
    }

    .img-container {
    
    background-position: center 72%;
    
    }

    .contact_title{
    margin-top: 120px;
    margin-bottom: 34px;
    font-size: 30px;
    
    }

    .contact_desc{

        font-size: 16px;
        margin-bottom: 50px;

    }
    .social-link img {
    width: 18px;
    height: 18px;
    
    }
    .social-links {
    
    gap: 35px;
    margin-bottom: 78px;
    }



}


@media screen and (max-width: 580px){
    .head_itemHide{
        display: none;
    }
    .signInHide{
        display: none;
    }
    .menu-button{
        display:flex;
        margin-left: auto;
    }
    .wrapper{
        max-width: 450px;
    }



    .intro {
    margin-top: 10px;
    }


    .mini_title{

        font-size: 17px;
        
    }

    .title{
        font-size: 45px;
    }
    .main{

    background-position: center 9%;
      
    }



    .hero_title{
        margin-top: 170px;
        font-size: 27px;
        margin-bottom: 25px;
        
    }

    .hero_text{

        font-size: 16px;
        max-width: 600px;
        margin-bottom: 40px;
    }

    .start_button{

    font-size: 20px;
    width: 200px;           
    height: 60px;                            
    margin-bottom: 70px;
    
    }

    .preview_title{

    font-size: 30px;
    margin-bottom: 70px;
    
    }



    .preview_card_title{

    font-size: 23px;

    }



    .preview_card_desc1{

        max-width: 400px;
        font-size: 16px;

    }
    .preview_card_desc2{

        max-width: 400px;
        font-size: 16px;

    }
    .preview_card_desc3{

        max-width: 319px;
        font-size: 16px;

    }


    .preview_cards {
        grid-template-columns: 1fr;
        justify-items: center;     
        padding: 0;                 
        grid-row-gap: 24px;         
    }

    .preview_card {
        max-width: 300px;           
        width: 100%;
    }

    .how_to_use_title{

    font-size: 30px;
    margin-bottom: 50px;

    }

    .steps{
    
    font-size: 14px;
    margin-bottom: 50px;
    max-width: 240px;
    }
    .steps:last-child{
    margin-bottom: 70px;
    }

    .try_button{

    font-size: 16px;
    width: 120px;           
    height: 35px;                            
    margin-bottom: 100px;
    
    }

    .img-container {
    
    background-position: center 72%;
    
    }

    .contact_title{
    margin-top: 120px;
    margin-bottom: 34px;
    font-size: 30px;
    
    }

    .contact_desc{

        font-size: 16px;
        margin-bottom: 50px;

    }
    .social-link img {
    width: 18px;
    height: 18px;
    
    }
    .social-links {
    
    gap: 35px;
    margin-bottom: 78px;
    }



}



@media screen and (max-width: 426px){
    .head_itemHide{
        display: none;
    }
    .signInHide{
        display: none;
    }
    .menu-button{
        display:flex;
        margin-left: auto;
    }
    .wrapper{
        max-width: 360px;
    }

    .mini_title{

        font-size: 15px;
        
    }

    .title{
        font-size: 31px;
    }
    .main{

    background-position: center 9%;
      
    }



    .hero_title{
        margin-top: 60px;
        font-size: 20px;
        margin-bottom: 1px;
        
    }

    .hero_text{

        font-size: 12px;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .start_button{

    font-size: 15px;
    width: 150px;           
    height: 45px;                            
    margin-bottom: 50px;
    
    }

    .preview_title{

    font-size: 20px;
    margin-bottom: 50px;
    
    }



    .preview_card_title{

    font-size: 20px;

    }



    .preview_card_desc1{

        max-width: 400px;
        font-size: 14px;

    }
    .preview_card_desc2{

        max-width: 400px;
        font-size: 16px;

    }
    .preview_card_desc3{

        max-width: 319px;
        font-size: 16px;

    }


    .preview_cards {
        grid-template-columns: 1fr;
        justify-items: center;     
        padding: 0;                 
        grid-row-gap: 24px;         
    }

    .preview_card {
        max-width: 260px;           
        width: 100%;
    }

    .how_to_use_title{

    font-size: 20px;
    margin-bottom: 50px;

    }

    .steps{
    
    font-size: 12px;
    max-width: 170px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    }
    .steps:last-child{
    margin-bottom: 2px;
    }
    .try_button{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        width: 100px;           
        height: 31px;                            
    
    }

    .img-container {
    
    background-position: center 67%;
    
    }

    .contact_title{
    margin-top: 120px;
    margin-bottom: 32px;
    font-size: 20px;
    
    }

    .contact_desc{

        font-size: 12px;
        margin-bottom: 30px;

    }
    .social-link img {
    width: 16px;
    height: 16px;
    
    }
    .social-links {
    
    gap: 30px;
    margin-bottom: 78px;
    }



}
@media screen and (max-width: 376px){
    .menu-button{
        margin-left: 160px;
    }
    .wrapper{
        max-width: 300px;
    }
    .steps{
    
    font-size: 10px;
    max-width: 140px;
    }
    .social-links {
    margin-bottom: 50px;
    }
}
@media screen and (max-width: 320px){


    .menu-button{
        margin-left: 110px;
    }
    .wrapper{
        max-width: 250px;
    }
    .main{

    background-position: center 11%;
      
    }

    .img-container {
    
    background-position: center 60%;
    
    }
    .steps{
    
    font-size: 9px;
    max-width: 120px;
   
    }
    .social-links {

    margin-bottom: 35px;
    }
}
